html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.full {
    width: 100%;
    height: 100%;
}
.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.text.holder{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.center.holder{
    color: aliceblue;
    font-size: large;
    flex-grow: 2;
    align-items: flex-start;
    width: 100%;
}

.pull-out {
    padding-left: 25px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.57);
}

.top-right.holder{
    align-items: flex-end;
    width: 100%;
    padding-right: 25px;
    color: aliceblue;
    font-size: xx-large;
}
.welcome {
    font-family:Lobster;
}
.subtitle{
    text-indent: 20px;
}
