.container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  .full {
    width: 100%;
    height: 100%;
  }
  
  .container {
    display: grid;
    pointer-events: none;
    color: aliceblue;  
    grid-template-columns: 400px auto 200px;
    grid-template-rows: 200px 200px auto 50px;
    grid-template-areas: ". . time" "title . ." ". . ." "footer footer footer";
  }
  
  .container > div {
    pointer-events: all;
  }
  
  .time-box {
    grid-area: time;
    font-size: xx-large;
    text-align: end;
    padding-right: 30px;
  }
  
  .time {
    margin-top: 0px;
  }
  
  .date {
    margin-bottom: 0px;
  }
  
  .title {
    grid-area: title;
    font-size: large;
    background: rgba(0, 0, 0, 0.57);
    padding-left: 15px;
  }
  
  .welcome {
    font-family: Lobster;
  }
  
  .subtitle {
    text-indent: 20px;
  }
  
  .footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
  }
  
  .footer > .address {
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.57);
    
  }